.order {
  color: #283763;

  .v-row {
    flex: none;

    &:last-child {
      flex: 1;
    }
  }

  .setting {
    gap: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .select-name {
    font-size: 1rem;
  }

  .balance {
    display: inline-flex;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}

.transaction {
  font-size: 0.85rem;
  min-height: 500px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #eef4f8;
    padding: 10px 15px;
  }

  .status {
    img {
      height: 50px;
    }
  }
}
