@import './variable.scss';
$switch-track-height: 21px;
$switch-track-radius: 14px;

.v-switch {
    &.float-right {
        .v-selection-control {
            justify-content: flex-end;
        }
    }

    &.--active {
        .v-switch__track {
            height: $switch-track-height;
            border-radius: $switch-track-radius;
            background: linear-gradient(to right, #62aada, #4385bd);
        }
    }

    .v-switch__thumb {
        background-color: #fff;
    }

    .v-switch__track {
        height: $switch-track-height;
        border-radius: $switch-track-radius;
        background: #c3c3c3;
    }
}